openapi: 3.0.1
info:
  description: |-
    This document describes Uptrends API version 4. This Swagger environment also lets you execute API methods directly.

    Please note that this is not a sandbox environment: these API methods operate directly on your actual Uptrends account.

    For more information, please visit https://www.uptrends.com/api.
  title: Uptrends API v4
  version: 1.0.0
servers:
- url: https://api.uptrends.com/v4
tags:
- description: Getting account data
  name: Account
- description: Retrieving checkpoints and checkpoint servers
  name: Checkpoint
- description: Modifying dashboards
  name: Dashboard
- description: Modifying public status pages
  name: PublicStatusPage
- description: Modifying scheduled reports
  name: ScheduledReport
- description: Getting SLA data
  name: SLA
- description: Retrieving statistics data
  name: Statistics
- description: Getting alert data
  name: Alert
- description: Retrieving integrations
  name: Integration
- description: Retrieving status
  name: Status
- description: Modifying alert definitions
  name: AlertDefinition
- description: Working with monitor groups
  name: MonitorGroup
- description: Working with operators
  name: Operator
- description: Miscellaneous operations
  name: Miscellaneous
- description: Working with operator groups
  name: OperatorGroup
- description: Getting monitor check data
  name: MonitorCheck
- description: Modifying monitors
  name: Monitor
- description: Creating a new API account
  name: Register
- description: Vault operations
  name: Vault
paths:
  /Account:
    get:
      operationId: Account_GetAccountStatistics
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStatistics'
            application/xml:
              schema:
                $ref: '#/components/schemas/AccountStatistics'
          description: Request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
      security:
      - basicauth:
        - ""
      summary: Returns the account statistics.
      tags:
      - Account
  /CheckpointRegion:
    get:
      operationId: CheckpointRegion_GetAllCheckpointRegions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CheckpointRegion'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CheckpointRegion'
                type: array
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
      security:
      - basicauth:
        - ""
      summary: 'Returns all the checkpoint regions. '
      tags:
      - Checkpoint
  /CheckpointRegion/{checkpointRegionId}:
    get:
      operationId: CheckpointRegion_GetSpecifiedCheckpointRegion
      parameters:
      - description: The id for the specified checkpoint region.
        in: path
        name: checkpointRegionId
        required: true
        schema:
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckpointRegion'
            application/xml:
              schema:
                $ref: '#/components/schemas/CheckpointRegion'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The checkpoint region could not be found.
      security:
      - basicauth:
        - ""
      summary: 'Returns the specified checkpoint region. '
      tags:
      - Checkpoint
  /CheckpointRegion/{checkpointRegionId}/Checkpoint:
    get:
      operationId: CheckpointRegion_GetCheckpointRegionCheckpoints
      parameters:
      - description: The id for the specified checkpoint region.
        in: path
        name: checkpointRegionId
        required: true
        schema:
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Checkpoint'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Checkpoint'
                type: array
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The checkpoint region could not be found.
      security:
      - basicauth:
        - ""
      summary: 'Returns the checkpoints for the specified checkpoint region. '
      tags:
      - Checkpoint
  /Dashboard:
    get:
      operationId: Dashboard_GetAllDashboards
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Dashboard'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Dashboard'
                type: array
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
      security:
      - basicauth:
        - ""
      summary: Returns data for all dashboards.
      tags:
      - Dashboard
  /Dashboard/{dashboardGuid}:
    delete:
      operationId: Dashboard_DeleteDashboard
      parameters:
      - description: The guid of the specified dashboard.
        in: path
        name: dashboardGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "204":
          content: {}
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified dashboard could not be found.
      security:
      - basicauth:
        - ""
      summary: Delete the specified dashboard.
      tags:
      - Dashboard
    get:
      operationId: Dashboard_GetOneDashboard
      parameters:
      - description: The guid of the specified dashboard.
        in: path
        name: dashboardGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
            application/xml:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified dashboard could not be found.
      security:
      - basicauth:
        - ""
      summary: Returns data for the specified dashboard.
      tags:
      - Dashboard
    patch:
      operationId: Dashboard_PartiallyUpdateDashboard
      parameters:
      - description: The guid of the specified dashboard.
        in: path
        name: dashboardGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dashboard'
        description: The details for the dashboard.
        required: true
      responses:
        "204":
          content: {}
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more of the specified entities could not be found.
      security:
      - basicauth:
        - ""
      summary: Partially update the specified dashboard.
      tags:
      - Dashboard
      x-codegen-request-body-name: dashboard
    put:
      operationId: Dashboard_UpdateDashboard
      parameters:
      - description: The guid of the specified dashboard.
        in: path
        name: dashboardGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
          application/xml:
            schema:
              $ref: '#/components/schemas/Dashboard'
        description: The details for the dashboard.
        required: true
      responses:
        "204":
          content: {}
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more of the specified entities could not be found.
      security:
      - basicauth:
        - ""
      summary: Update the specified dashboard.
      tags:
      - Dashboard
      x-codegen-request-body-name: dashboard
  /Dashboard/{dashboardGuid}/Clone:
    post:
      operationId: Dashboard_CloneDashboard
      parameters:
      - description: The guid of the specified dashboard.
        in: path
        name: dashboardGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
            application/xml:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified dashboard could not be found.
      security:
      - basicauth:
        - ""
      summary: Clone the specified dashboard.
      tags:
      - Dashboard
  /PublicStatusPage:
    get:
      operationId: PublicStatusPage_GetPublicStatusPages
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PublicStatusPage'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/PublicStatusPage'
                type: array
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
      security:
      - basicauth:
        - ""
      summary: Returns the definition of all public status pages available in the
        account.
      tags:
      - PublicStatusPage
    post:
      operationId: PublicStatusPage_PostPublicStatusPage
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicStatusPage'
          application/xml:
            schema:
              $ref: '#/components/schemas/PublicStatusPage'
        description: The complete definition for the public status page that should
          be updated.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStatusPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/PublicStatusPage'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified public status page does not exist.
      security:
      - basicauth:
        - ""
      summary: Creates a new public status page.
      tags:
      - PublicStatusPage
      x-codegen-request-body-name: publicStatusPage
  /PublicStatusPage/{publicStatusPageGuid}:
    delete:
      operationId: PublicStatusPage_DeletePublicStatusPage
      parameters:
      - description: The Guid of the public status page that should be updated.
        in: path
        name: publicStatusPageGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "204":
          content: {}
          description: The request was successful. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified public status page does not exist.
      security:
      - basicauth:
        - ""
      summary: Deletes the definition of the specified public status page.
      tags:
      - PublicStatusPage
    get:
      operationId: PublicStatusPage_GetPublicStatusPage
      parameters:
      - description: The Guid of the requested public status page.
        in: path
        name: publicStatusPageGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStatusPage'
            application/xml:
              schema:
                $ref: '#/components/schemas/PublicStatusPage'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified public status page does not exist.
      security:
      - basicauth:
        - ""
      summary: Returns the definition of the specified public status page.
      tags:
      - PublicStatusPage
    patch:
      description: This methods accepts parts of a public status page definition.
        We recommend retrieving the existing definition first (using the GET method).
        You can then process the changes you want to make and send back these changes
        only using this PATCH method.
      operationId: PublicStatusPage_PatchPublicStatusPage
      parameters:
      - description: The Guid of the public status page that should be updated.
        in: path
        name: publicStatusPageGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicStatusPage'
          application/xml:
            schema:
              $ref: '#/components/schemas/PublicStatusPage'
        description: The partial definition for the public status page that should
          be updated.
        required: true
      responses:
        "204":
          content: {}
          description: The request was successful. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified public status page does not exist.
      security:
      - basicauth:
        - ""
      summary: Partially updates the definition of the specified public status page.
      tags:
      - PublicStatusPage
      x-codegen-request-body-name: publicStatusPage
    put:
      description: This methods only accepts a complete public status page definition.
        We recommend retrieving the existing definition first (using the GET method).
        You can then process the changes you want to make and send back the updated
        definition using this PUT method.
      operationId: PublicStatusPage_PutPublicStatusPage
      parameters:
      - description: The Guid of the public status page that should be updated.
        in: path
        name: publicStatusPageGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicStatusPage'
          application/xml:
            schema:
              $ref: '#/components/schemas/PublicStatusPage'
        description: The complete definition for the public status page that should
          be updated.
        required: true
      responses:
        "204":
          content: {}
          description: The request was successful. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified public status page does not exist.
      security:
      - basicauth:
        - ""
      summary: Updates the definition of the specified public status page.
      tags:
      - PublicStatusPage
      x-codegen-request-body-name: publicStatusPage
  /PublicStatusPage/{publicStatusPageGuid}/Authorization:
    get:
      operationId: PublicStatusPage_GetAuthorizationsForPublicStatusPage
      parameters:
      - description: The Guid of the public status page.
        in: path
        name: publicStatusPageGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PSPAuthorization'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/PSPAuthorization'
                type: array
          description: The request was successful. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified public status page does not exist.
      security:
      - basicauth:
        - ""
      summary: Returns all authorizations for the specified public status page.
      tags:
      - PublicStatusPage
    post:
      description: The AuthorizationId attribute should be omitted in the request
        body. The newly created authorization will be returned in the response. An
        authorization should be granted to either an individual operator, or an operator
        group. Therefore, either specify the OperatorGuid attribute or the OperatorGroupGuid
        attribute.
      operationId: PublicStatusPage_AddAuthorizationToPublicStatusPage
      parameters:
      - description: The Guid of the public status page.
        in: path
        name: publicStatusPageGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PSPAuthorization'
          application/xml:
            schema:
              $ref: '#/components/schemas/PSPAuthorization'
        description: The complete definition of the authorization that should be created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PSPAuthorization'
            application/xml:
              schema:
                $ref: '#/components/schemas/PSPAuthorization'
          description: The request was successful.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: |-
            The specified public status page does not exist.
            or
            The specified operator does not exist.
            or
            The specified operator group does not exist.
          x-expectedSchemas:
          - description: The specified public status page does not exist.
            schema:
              $ref: '#/definitions/MessageList'
          - description: The specified operator does not exist.
            schema:
              $ref: '#/definitions/MessageList'
          - description: The specified operator group does not exist.
            schema:
              $ref: '#/definitions/MessageList'
      security:
      - basicauth:
        - ""
      summary: Creates a new authorization for the specified public status page.
      tags:
      - PublicStatusPage
      x-codegen-request-body-name: authorization
  /PublicStatusPage/{publicStatusPageGuid}/Authorization/{authorizationGuid}:
    delete:
      operationId: PublicStatusPage_RemoveAuthorizationFromPublicStatusPage
      parameters:
      - description: The Guid of the public status page.
        in: path
        name: publicStatusPageGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The Guid of the authorization.
        in: path
        name: authorizationGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "204":
          content: {}
          description: The request was successful. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: |-
            The specified public status page does not exist.
            or
            The specified authorization does not exist.
          x-expectedSchemas:
          - description: The specified public status page does not exist.
            schema:
              $ref: '#/definitions/MessageList'
          - description: The specified authorization does not exist.
            schema:
              $ref: '#/definitions/MessageList'
      security:
      - basicauth:
        - ""
      summary: Removes an authorization from a public status page.
      tags:
      - PublicStatusPage
  /ScheduledReport:
    get:
      operationId: ScheduledReport_GetAllScheduledReports
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ScheduledReport'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ScheduledReport'
                type: array
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
      security:
      - basicauth:
        - ""
      summary: Returns data for all scheduled reports.
      tags:
      - ScheduledReport
    post:
      operationId: ScheduledReport_CreateScheduledReport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledReport'
          application/xml:
            schema:
              $ref: '#/components/schemas/ScheduledReport'
        description: The details for the scheduled report.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
      security:
      - basicauth:
        - ""
      summary: Creates a new scheduled report.
      tags:
      - ScheduledReport
      x-codegen-request-body-name: scheduledReport
  /ScheduledReport/{scheduledReportGuid}:
    delete:
      operationId: ScheduledReport_DeleteSpecifiedScheduledReport
      parameters:
      - description: The guid of the specified scheduled report.
        in: path
        name: scheduledReportGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "204":
          content: {}
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more of the specified entities could not be found.
      security:
      - basicauth:
        - ""
      summary: Delete the specified scheduled report.
      tags:
      - ScheduledReport
    get:
      operationId: ScheduledReport_GetSpecifiedScheduledReport
      parameters:
      - description: The guid of the specified scheduled report.
        in: path
        name: scheduledReportGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more of the specified entities could not be found.
      security:
      - basicauth:
        - ""
      summary: Returns data for the specified scheduled report.
      tags:
      - ScheduledReport
    patch:
      operationId: ScheduledReport_PartiallyUpdateScheduledReport
      parameters:
      - description: The guid of the specified scheduled report.
        in: path
        name: scheduledReportGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledReport'
          application/xml:
            schema:
              $ref: '#/components/schemas/ScheduledReport'
        description: The details for the scheduled report.
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more of the specified entities could not be found.
      security:
      - basicauth:
        - ""
      summary: Partially update the specified scheduled report.
      tags:
      - ScheduledReport
      x-codegen-request-body-name: scheduledReport
    put:
      operationId: ScheduledReport_UpdateScheduledReport
      parameters:
      - description: The guid of the specified scheduled report.
        in: path
        name: scheduledReportGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledReport'
          application/xml:
            schema:
              $ref: '#/components/schemas/ScheduledReport'
        description: The details for the scheduled report.
        required: true
      responses:
        "204":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
            application/xml:
              schema:
                $ref: '#/components/schemas/ScheduledReport'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more of the specified entities could not be found.
      security:
      - basicauth:
        - ""
      summary: Update the specified scheduled report.
      tags:
      - ScheduledReport
      x-codegen-request-body-name: scheduledReport
  /Sla:
    get:
      operationId: Sla_GetSlas
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Sla'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Sla'
                type: array
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
      security:
      - basicauth:
        - ""
      summary: Gets a list of all SLA definitions.
      tags:
      - SLA
    post:
      operationId: Sla_CreateSla
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sla'
          application/xml:
            schema:
              $ref: '#/components/schemas/Sla'
        description: The complete SLA definition that should be created.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sla'
            application/xml:
              schema:
                $ref: '#/components/schemas/Sla'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
      security:
      - basicauth:
        - ""
      summary: Creates a new SLA.
      tags:
      - SLA
      x-codegen-request-body-name: sla
  /Sla/{slaGuid}:
    delete:
      operationId: Sla_DeleteSla
      parameters:
      - description: The Guid of the SLA definition that should be deleted.
        in: path
        name: slaGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "204":
          content: {}
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified SLA does not exist.
      security:
      - basicauth:
        - ""
      summary: Deletes the specified SLA.
      tags:
      - SLA
    get:
      operationId: Sla_GetSla
      parameters:
      - description: The Guid of the SLA definition.
        in: path
        name: slaGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Sla'
            application/xml:
              schema:
                $ref: '#/components/schemas/Sla'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified sla does not exist.
      security:
      - basicauth:
        - ""
      summary: Gets the specified SLA definition.
      tags:
      - SLA
    patch:
      description: This methods accepts parts of a SLA definition. We recommend retrieving
        the existing definition first (using the GET method). You can then process
        the changes you want to make and send back these changes only using this PATCH
        method.
      operationId: Sla_PatchSla
      parameters:
      - description: The Guid of the SLA that should be updated.
        in: path
        name: slaGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sla'
          application/xml:
            schema:
              $ref: '#/components/schemas/Sla'
        description: The partial definition for the SLA that should be updated.
        required: true
      responses:
        "204":
          content: {}
          description: The request was successful. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified SLA does not exist.
      security:
      - basicauth:
        - ""
      summary: Partially updates the definition of the specified SLA.
      tags:
      - SLA
      x-codegen-request-body-name: sla
    put:
      description: This methods only accepts a complete SLA definition. We recommend
        retrieving the existing definition first (using the GET method). You can then
        process the changes you want to make and send back the updated definition
        using this PUT method.
      operationId: Sla_PutSla
      parameters:
      - description: The Guid of the SLA that should be updated.
        in: path
        name: slaGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sla'
          application/xml:
            schema:
              $ref: '#/components/schemas/Sla'
        description: The complete definition for the SLA that should be updated.
        required: true
      responses:
        "204":
          content: {}
          description: The request was successful. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified SLA does not exist.
      security:
      - basicauth:
        - ""
      summary: Updates the definition of the specified SLA.
      tags:
      - SLA
      x-codegen-request-body-name: sla
  /Sla/{slaGuid}/ExclusionPeriod:
    get:
      operationId: Sla_GetExclusionPeriods
      parameters:
      - description: The Guid of the SLA definition.
        in: path
        name: slaGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ExclusionPeriod'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ExclusionPeriod'
                type: array
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified SLA does not exist.
      security:
      - basicauth:
        - ""
      summary: Gets a list of all exclusion periods for the specified SLA.
      tags:
      - SLA
    post:
      operationId: Sla_PostExclusionPeriod
      parameters:
      - description: The Guid of the SLA definition.
        in: path
        name: slaGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExclusionPeriod'
          application/xml:
            schema:
              $ref: '#/components/schemas/ExclusionPeriod'
        description: The complete definition of the exclusion period.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExclusionPeriod'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExclusionPeriod'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified SLA does not exist.
      security:
      - basicauth:
        - ""
      summary: Creates a new exclusion period for the specified SLA.
      tags:
      - SLA
      x-codegen-request-body-name: exclusionPeriod
  /Sla/{slaGuid}/ExclusionPeriod/{exclusionPeriodId}:
    delete:
      operationId: Sla_DeleteExclusionPeriod
      parameters:
      - description: The Guid of the sla definition.
        in: path
        name: slaGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The id of the exclusion period.
        in: path
        name: exclusionPeriodId
        required: true
        schema:
          format: int32
          nullable: false
          type: integer
      responses:
        "204":
          content: {}
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: |-
            The specified SLA does not exist.
            or
            The specified exclusion period does not exist.
          x-expectedSchemas:
          - description: The specified SLA does not exist.
            schema:
              $ref: '#/definitions/MessageList'
          - description: The specified exclusion period does not exist.
            schema:
              $ref: '#/definitions/MessageList'
      security:
      - basicauth:
        - ""
      summary: Deletes the specified exclusion period for the specified SLA.
      tags:
      - SLA
    get:
      operationId: Sla_GetExclusionPeriod
      parameters:
      - description: The Guid of the SLA definition.
        in: path
        name: slaGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The id of the exclusion period.
        in: path
        name: exclusionPeriodId
        required: true
        schema:
          format: int32
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExclusionPeriod'
            application/xml:
              schema:
                $ref: '#/components/schemas/ExclusionPeriod'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: |-
            The specified SLA does not exist.
            or
            The specified exclusion period does not exist.
          x-expectedSchemas:
          - description: The specified SLA does not exist.
            schema:
              $ref: '#/definitions/MessageList'
          - description: The specified exclusion period does not exist.
            schema:
              $ref: '#/definitions/MessageList'
      security:
      - basicauth:
        - ""
      summary: Gets the specified exclusion period for the specified SLA.
      tags:
      - SLA
    patch:
      operationId: Sla_PatchExclusionPeriod
      parameters:
      - description: The Guid of the SLA definition.
        in: path
        name: slaGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The id of the exclusion period.
        in: path
        name: exclusionPeriodId
        required: true
        schema:
          format: int32
          nullable: false
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExclusionPeriod'
          application/xml:
            schema:
              $ref: '#/components/schemas/ExclusionPeriod'
        description: The complete definition of the exclusion period.
        required: true
      responses:
        "204":
          content: {}
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: |-
            The specified SLA does not exist.
            or
            The specified exclusion period does not exist.
          x-expectedSchemas:
          - description: The specified SLA does not exist.
            schema:
              $ref: '#/definitions/MessageList'
          - description: The specified exclusion period does not exist.
            schema:
              $ref: '#/definitions/MessageList'
      security:
      - basicauth:
        - ""
      summary: Partially updates the specified exclusion period for the specified
        SLA.
      tags:
      - SLA
      x-codegen-request-body-name: exclusionPeriod
    put:
      operationId: Sla_PutExclusionPeriod
      parameters:
      - description: The Guid of the SLA definition.
        in: path
        name: slaGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The id of the exclusion period.
        in: path
        name: exclusionPeriodId
        required: true
        schema:
          format: int32
          nullable: false
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExclusionPeriod'
          application/xml:
            schema:
              $ref: '#/components/schemas/ExclusionPeriod'
        description: The complete definition of the exclusion period.
        required: true
      responses:
        "204":
          content: {}
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: |-
            The specified SLA does not exist.
            or
            The specified exclusion period does not exist.
          x-expectedSchemas:
          - description: The specified SLA does not exist.
            schema:
              $ref: '#/definitions/MessageList'
          - description: The specified exclusion period does not exist.
            schema:
              $ref: '#/definitions/MessageList'
      security:
      - basicauth:
        - ""
      summary: Updates the specified exclusion period for the specified SLA.
      tags:
      - SLA
      x-codegen-request-body-name: exclusionPeriod
  /Statistics/Monitor/{monitorGuid}:
    get:
      operationId: Statistics_GetMonitorStatistics
      parameters:
      - description: The Guid of the monitor.
        in: path
        name: monitorGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The filter for the requested response fields. E.g. "Alerts,SlaTarget".
        in: query
        name: Filter
        schema:
          nullable: true
          type: string
      - description: The start of a custom period (can't be used together with the
          PresetPeriod parameter)
        in: query
        name: Start
        schema:
          format: date-time
          nullable: true
          type: string
      - description: The end of a custom period
        in: query
        name: End
        schema:
          format: date-time
          nullable: true
          type: string
      - description: The requested time period.
        in: query
        name: PresetPeriod
        schema:
          default: Last24Hours
          enum:
          - CurrentDay
          - CurrentWeek
          - CurrentMonth
          - CurrentYear
          - PreviousDay
          - PreviousWeek
          - PreviousMonth
          - PreviousYear
          - Last24Hours
          - Last48Hours
          - Last7Days
          - Last30Days
          - Last60Days
          - Last90Days
          - Last365Days
          - Last3Months
          - Last6Months
          - Last12Months
          - Last24Months
          - All
          nullable: true
          type: string
          x-schema:
            $ref: '#/definitions/PresetPeriodType'
        x-schema:
          $ref: '#/definitions/PresetPeriodType'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageInfo'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageInfo'
          description: The monitor could not be found.
      security:
      - basicauth:
        - ""
      summary: Gets the monitor statistics.
      tags:
      - Statistics
  /Statistics/MonitorGroup/{monitorGroupGuid}:
    get:
      operationId: Statistics_GetMonitorGroupStatistics
      parameters:
      - description: The Guid of the monitor group.
        in: path
        name: monitorGroupGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The filter for the requested response fields. E.g. "Alerts,SlaTarget".
        in: query
        name: Filter
        schema:
          nullable: true
          type: string
      - description: The start of a custom period (can't be used together with the
          PresetPeriod parameter)
        in: query
        name: Start
        schema:
          format: date-time
          nullable: true
          type: string
      - description: The end of a custom period
        in: query
        name: End
        schema:
          format: date-time
          nullable: true
          type: string
      - description: The requested time period.
        in: query
        name: PresetPeriod
        schema:
          default: Last24Hours
          enum:
          - CurrentDay
          - CurrentWeek
          - CurrentMonth
          - CurrentYear
          - PreviousDay
          - PreviousWeek
          - PreviousMonth
          - PreviousYear
          - Last24Hours
          - Last48Hours
          - Last7Days
          - Last30Days
          - Last60Days
          - Last90Days
          - Last365Days
          - Last3Months
          - Last6Months
          - Last12Months
          - Last24Months
          - All
          nullable: true
          type: string
          x-schema:
            $ref: '#/definitions/PresetPeriodType'
        x-schema:
          $ref: '#/definitions/PresetPeriodType'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/StatisticsResponse'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageInfo'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageInfo'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageInfo'
          description: The monitor group could not be found.
      security:
      - basicauth:
        - ""
      summary: Gets the monitor group statistics.
      tags:
      - Statistics
  /Alert/Monitor/{monitorGuid}:
    get:
      operationId: Alert_GetMonitorAlerts
      parameters:
      - description: The Guid of the monitor to get alerts for.
        in: path
        name: monitorGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: When true reminder alerts will be included in the results
        in: query
        name: IncludeReminders
        schema:
          default: false
          nullable: false
          type: boolean
      - description: A cursor value that should be used for traversing the dataset.
        in: query
        name: Cursor
        schema:
          nullable: true
          type: string
      - description: Sorting direction based on timestamp.
        in: query
        name: Sorting
        schema:
          default: Descending
          enum:
          - Ascending
          - Descending
          nullable: false
          type: string
          x-schema:
            $ref: '#/definitions/SortDirection'
        x-schema:
          $ref: '#/definitions/SortDirection'
      - description: The number of records to return (Max value = 100)
        in: query
        name: Take
        schema:
          default: 100
          format: int32
          maximum: 100.0
          minimum: 0.0
          nullable: false
          type: integer
      - description: The start of a custom period (can't be used together with the
          PresetPeriod parameter)
        in: query
        name: Start
        schema:
          format: date-time
          nullable: true
          type: string
      - description: The end of a custom period
        in: query
        name: End
        schema:
          format: date-time
          nullable: true
          type: string
      - description: The requested time period.
        in: query
        name: PresetPeriod
        schema:
          default: Last24Hours
          enum:
          - CurrentDay
          - CurrentWeek
          - CurrentMonth
          - CurrentYear
          - PreviousDay
          - PreviousWeek
          - PreviousMonth
          - PreviousYear
          - Last24Hours
          - Last48Hours
          - Last7Days
          - Last30Days
          - Last60Days
          - Last90Days
          - Last365Days
          - Last3Months
          - Last6Months
          - Last12Months
          - Last24Months
          - All
          nullable: true
          type: string
          x-schema:
            $ref: '#/definitions/PresetPeriodType'
        x-schema:
          $ref: '#/definitions/PresetPeriodType'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlertResponse'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified Monitor for monitorGuid does not exist.
      security:
      - basicauth:
        - ""
      summary: Returns alerts for a specific monitor.
      tags:
      - Alert
  /Alert/MonitorGroup/{monitorGroupGuid}:
    get:
      operationId: Alert_GetMonitorGroupAlerts
      parameters:
      - description: The Guid of the monitor group to get alerts for.
        in: path
        name: monitorGroupGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: When true reminder alerts will be included in the results
        in: query
        name: IncludeReminders
        schema:
          default: false
          nullable: false
          type: boolean
      - description: A cursor value that should be used for traversing the dataset.
        in: query
        name: Cursor
        schema:
          nullable: true
          type: string
      - description: Sorting direction based on timestamp.
        in: query
        name: Sorting
        schema:
          default: Descending
          enum:
          - Ascending
          - Descending
          nullable: false
          type: string
          x-schema:
            $ref: '#/definitions/SortDirection'
        x-schema:
          $ref: '#/definitions/SortDirection'
      - description: The number of records to return (Max value = 100)
        in: query
        name: Take
        schema:
          default: 100
          format: int32
          maximum: 100.0
          minimum: 0.0
          nullable: false
          type: integer
      - description: The start of a custom period (can't be used together with the
          PresetPeriod parameter)
        in: query
        name: Start
        schema:
          format: date-time
          nullable: true
          type: string
      - description: The end of a custom period
        in: query
        name: End
        schema:
          format: date-time
          nullable: true
          type: string
      - description: The requested time period.
        in: query
        name: PresetPeriod
        schema:
          default: Last24Hours
          enum:
          - CurrentDay
          - CurrentWeek
          - CurrentMonth
          - CurrentYear
          - PreviousDay
          - PreviousWeek
          - PreviousMonth
          - PreviousYear
          - Last24Hours
          - Last48Hours
          - Last7Days
          - Last30Days
          - Last60Days
          - Last90Days
          - Last365Days
          - Last3Months
          - Last6Months
          - Last12Months
          - Last24Months
          - All
          nullable: true
          type: string
          x-schema:
            $ref: '#/definitions/PresetPeriodType'
        x-schema:
          $ref: '#/definitions/PresetPeriodType'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlertResponse'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified Monitor Group for monitorGroupGuid does not exist.
      security:
      - basicauth:
        - ""
      summary: Returns alerts for a specific monitor group.
      tags:
      - Alert
  /Integration:
    get:
      operationId: Integration_GetAllIntegrations
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Integration'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Integration'
                type: array
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
      security:
      - basicauth:
        - ""
      summary: Gets a list of all integrations.
      tags:
      - Integration
  /Status/Monitor/{monitorGuid}:
    get:
      operationId: Status_GetMonitorStatus
      parameters:
      - description: The Guid of the monitor.
        in: path
        name: monitorGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorStatusResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MonitorStatusResponse'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The monitor could not be found.
      security:
      - basicauth:
        - ""
      summary: Gets all monitor status data.
      tags:
      - Status
  /Status/MonitorGroup/{monitorGroupGuid}:
    get:
      operationId: Status_GetMonitorGroupStatus
      parameters:
      - description: The Guid of the monitor group.
        in: path
        name: monitorGroupGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorStatusListResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/MonitorStatusListResponse'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The monitor group could not be found.
      security:
      - basicauth:
        - ""
      summary: Gets a list of all monitor group status data.
      tags:
      - Status
  /AlertDefinition:
    get:
      operationId: AlertDefinition_GetAllAlertDefinitions
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertDefinition'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/AlertDefinition'
                type: array
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
      security:
      - basicauth:
        - ""
      summary: Gets a list of all alert definitions.
      tags:
      - AlertDefinition
    post:
      operationId: AlertDefinition_CreateAlertDefinition
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertDefinition'
          application/xml:
            schema:
              $ref: '#/components/schemas/AlertDefinition'
        description: The details of the alert definition to create.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDefinition'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlertDefinition'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
      security:
      - basicauth:
        - ""
      summary: Creates a new alert definition.
      tags:
      - AlertDefinition
      x-codegen-request-body-name: alertDefinition
  /AlertDefinition/{alertDefinitionGuid}:
    delete:
      operationId: AlertDefinition_DeleteAlertDefinition
      parameters:
      - description: The Guid of the alert definition to remove.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "204":
          content: {}
          description: The request completed successfully. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified alert definition could not be found.
      security:
      - basicauth:
        - ""
      summary: Deletes an existing alert definition.
      tags:
      - AlertDefinition
    get:
      operationId: AlertDefinition_GetSpecifiedAlertDefinitions
      parameters:
      - description: The Guid of the alert definition.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDefinition'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlertDefinition'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
      security:
      - basicauth:
        - ""
      summary: Gets the specified alert definition.
      tags:
      - AlertDefinition
    patch:
      description: This methods accepts parts of an alert definition. Fields that
        do not require changes can be omitted.
      operationId: AlertDefinition_PatchAlertDefinition
      parameters:
      - description: The Guid of the alert definition that should be updated.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertDefinition'
          application/xml:
            schema:
              $ref: '#/components/schemas/AlertDefinition'
        description: The partial definition for the alert definition that should be
          updated.
        required: true
      responses:
        "204":
          content: {}
          description: The request completed successfully. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified alert definition could not be found.
      security:
      - basicauth:
        - ""
      summary: Partially updates the definition for the specified alert definition.
      tags:
      - AlertDefinition
      x-codegen-request-body-name: alertDefinition
    put:
      description: This methods only accepts a complete alert definition where all
        fields are specified.
      operationId: AlertDefinition_PutAlertDefinition
      parameters:
      - description: The Guid of the alert definition that should be updated.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlertDefinition'
          application/xml:
            schema:
              $ref: '#/components/schemas/AlertDefinition'
        description: The partial definition for the alert definition that should be
          updated.
        required: true
      responses:
        "204":
          content: {}
          description: The request completed successfully. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified alert definition could not be found.
      security:
      - basicauth:
        - ""
      summary: Updates the definition for the specified alert definition.
      tags:
      - AlertDefinition
      x-codegen-request-body-name: alertDefinition
  /AlertDefinition/{alertDefinitionGuid}/Member:
    get:
      operationId: AlertDefinition_GetAllMembers
      parameters:
      - description: The Guid of the alert definition for which to return the members.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AlertDefinitionMember'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/AlertDefinitionMember'
                type: array
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified alert definition could not be found.
      security:
      - basicauth:
        - ""
      summary: Gets a list of all monitor and monitor group guids for the specified
        alert definition.
      tags:
      - AlertDefinition
  /AlertDefinition/{alertDefinitionGuid}/Member/Monitor/{monitorGuid}:
    delete:
      operationId: AlertDefinition_RemoveMonitorFromAlertDefinition
      parameters:
      - description: The Guid of the alert definition to modify.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The Guid of the monitor to remove.
        in: path
        name: monitorGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "204":
          content: {}
          description: The request completed successfully. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more of the specified entities could not be found.
      security:
      - basicauth:
        - ""
      summary: Removes a monitor for the specified alert definition.
      tags:
      - AlertDefinition
    post:
      operationId: AlertDefinition_AddMonitorToAlertDefinition
      parameters:
      - description: The Guid of the alert definition to modify.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The Guid of the monitor to add.
        in: path
        name: monitorGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDefinitionMonitor'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlertDefinitionMonitor'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more of the specified entities could not be found.
      security:
      - basicauth:
        - ""
      summary: Adds a monitor to the specified alert definition.
      tags:
      - AlertDefinition
  /AlertDefinition/{alertDefinitionGuid}/Member/MonitorGroup/{monitorGroupGuid}:
    delete:
      operationId: AlertDefinition_RemoveMonitorGroupFromAlertDefinition
      parameters:
      - description: The Guid of the alert definition to modify.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The Guid of the monitor group to remove.
        in: path
        name: monitorGroupGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "204":
          content: {}
          description: The request completed successfully. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more of the specified entities could not be found.
      security:
      - basicauth:
        - ""
      summary: Removes a monitor group for the specified alert definition.
      tags:
      - AlertDefinition
    post:
      operationId: AlertDefinition_AddMonitorGroupToAlertDefinition
      parameters:
      - description: The Guid of the alert definition to modify.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The Guid of the monitor group to add.
        in: path
        name: monitorGroupGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlertDefinitionMonitorGroup'
            application/xml:
              schema:
                $ref: '#/components/schemas/AlertDefinitionMonitorGroup'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more of the specified entities could not be found.
      security:
      - basicauth:
        - ""
      summary: Adds a monitor group to the specified alert definition.
      tags:
      - AlertDefinition
  /AlertDefinition/{alertDefinitionGuid}/EscalationLevel/{escalationLevelId}:
    get:
      operationId: AlertDefinition_GetEscalationLevel
      parameters:
      - description: The Guid of the alert definition.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The escalation level id.
        in: path
        name: escalationLevelId
        required: true
        schema:
          nullable: false
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EscalationLevel'
            application/xml:
              schema:
                $ref: '#/components/schemas/EscalationLevel'
          description: The request completed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more of the specified entities could not be found.
      security:
      - basicauth:
        - ""
      summary: Gets the escalation level information of the specified alert definition.
      tags:
      - AlertDefinition
    patch:
      description: This methods only accepts a complete alert definition where all
        fields are specified.
      operationId: AlertDefinition_PatchAlertDefinitionEscalation
      parameters:
      - description: The Guid of the alert definition that should be updated.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The level number of the escalation that should be updated.
        in: path
        name: escalationLevelId
        required: true
        schema:
          nullable: false
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscalationLevel'
          application/xml:
            schema:
              $ref: '#/components/schemas/EscalationLevel'
        description: The escalation level for the alert definition that should be
          updated.
        required: true
      responses:
        "204":
          content: {}
          description: The request completed successfully. No content is returned.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The request failed.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: One or more validation errors occurred.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageList'
            application/xml:
              schema:
                $ref: '#/components/schemas/MessageList'
          description: The specified alert definition could not be found.
      security:
      - basicauth:
        - ""
      summary: Partially updates the escalation level for the specified alert definition.
      tags:
      - AlertDefinition
      x-codegen-request-body-name: escalationLevel
    put:
      description: This methods only accepts a complete alert definition where all
        fields are specified.
      operationId: AlertDefinition_PutAlertDefinitionEscalation
      parameters:
      - description: The Guid of the alert definition that should be updated.
        in: path
        name: alertDefinitionGuid
        required: true
        schema:
          format: guid
          nullable: false
          type: string
      - description: The level number of the escalation that should be updated.
        in: path
        name: escalationLevelId
        required: true
        schema:
          nullable: false
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EscalationLevel'
          application/xml:
[...]
